body{
    background-image: url('../../images/fondooffice.png');
}
.links{
    color: white !important;
    text-decoration: none !important;
}
.image-logo{
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}
.container-buttons{
    display: flex;
    justify-content: center;
}
.container-buttons>button:first-child{
    margin-right: 20px;
}